.content {
    max-width: 900px;
}

p {
    margin: 0;
}

i {
    font-size: 30px;
}

.img {
    border-radius: 15px;
    filter: drop-shadow(0 0 0.85rem #9C69E0);
    animation-name: pulse;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% { transform: scale(1) }  
    50% { transform: scale(1.01); }
    100% { transform: scale(1); }
}

.img-wrapper img{
    width: auto;
    height: 320px;
}

.biography {
    font-size: 1.4rem;
}