.content {
    max-width: 900px;
}

p {
    margin: 0;
}

i {
    font-size: 30px;
}

.img {
    border-radius: 15px;
    filter: drop-shadow(0 0 0.85rem #9C69E0);
    transition: .5s;
}

.img:hover {
    transition: .5s;
    transform: scale(1.05);
}

.img-wrapper img{
    width: auto;
    height: 350px;
}

.biography {
    font-size: 1.4rem;
}