.content {
    max-width: 900px;
}

p {
    margin: 0;
}

i {
    font-size: 30px;
}

.img {
    border-radius: 15px;
    filter: drop-shadow(0 0 0.85rem #9C69E0);
}

.img-wrapper img{
    width: auto;
    height: 320px;
}

.about-sub-title {
    font-size: 2.6rem;
    font-weight: 1000;
}