html, body {
    color: #fff !important;
    font-family: 'Inconsolata', monospace !important;
    
}

@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
      scroll-behavior: smooth;
    }
}

.comment {
    color: #608B4E;
}

.blurBg {
    backdrop-filter: blur(8px);
    border-radius: 20px;
}

.title {
    font-size: 2rem;
    font-weight: 1000;
}