.content {
    max-width: 900px;
}

p {
    margin: 0;
}

i {
    font-size: 30px;
}

.img {
    border: 4px solid #43BC90;
    border-radius: 15px;
}

.img-wrapper img{
    width: auto;
    height: 320px;
}